---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-size-base: 15px;
$body-font: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font: "Oswald", $body-font;
$font-family-base: $body-font;

$brand-primary: #448234;

$text-color: black;
$body-bg-color: white;
$heading-color: white;
$heading-bg-color: black;
$heading-hover-bg-color: #53cfd7;
$list-item-bg-color: #e5e5e5;

$standard-margin: 20px;

$navbar-default-color: $heading-color;
$navbar-default-link-color: $heading-color;
$navbar-default-link-active-color: $heading-color;
$navbar-default-link-active-bg: $heading-hover-bg-color;
$navbar-default-link-hover-color: $heading-color;
$navbar-default-link-hover-bg: $heading-hover-bg-color;
$navbar-default-bg: $heading-bg-color;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;

$body-bg: $body-bg-color;

$btn-default-bg: #ffaa61;
$btn-default-color: $body-bg-color;

@import "bootstrap";
@import "icon-fonts";
@import "fullcalendar";
@import "base";
@import "layout";
