<header>
    <nav>
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-dropdown" aria-expanded="false"
                    aria-controls="navbar-dropdown">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="row nav-title">
                <div class="col-md-10 col-md-offset-1">
                    <span class="title">
                        <a href="{{site.baseurl}}/">
                            <img alt="Showing Up for Racial Justice" src="{{site.baseurl}}/images/surj.jpg"
                             width="187" height="100" />
                        </a>
                        <h1>Iowa City</h1>
                    </span>
                    <span class="contact-links">
                        <a href="{{site.facebook-url}}" target="_blank" class="btn btn-circle">
                            <span class="icon-facebook"></span>
                        </a>
                        <a href="{{site.twitter-url}}" target="_blank" class="btn btn-circle">
                            <span class="icon-twitter"></span>
                        </a>
                        <a href="mailto:{{site.email}}" class="btn btn-circle">
                            <span class="icon-envelope"></span>
                        </a>
                    </span>
                </div>
            </div>
            <div id="navbar-dropdown" class="row nav-links collapse">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-link" href="{{site.baseurl}}/">
                                About Us
                            </a>
                        </li>
                        {% for my_page in site.pages %}
                            {% if my_page.title %}
                                <li>
                                    <a class="page-link" href="{{my_page.url | prepend: site.baseurl}}">
                                        {{my_page.title}}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
