nav {
    h1 {
        font-size: 40px;

        @media (max-width: $screen-xs-max) {
            font-size: 35px;
        }
    }

    .navbar-toggle {
        background-color: $body-bg-color;
        border-style: none;

        .icon-bar {
            background-color: $text-color;
            height: 3px;
        }
    }

    .navbar-toggle:hover {
        background-color: darken($body-bg-color, 10%);
    }

    .container-fluid {
        @media (max-width: $screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
            overflow-x: hidden;
        }
    }
}

.navbar-nav {
    @media (max-width: $screen-xs-max) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.nav-title {
    @media (max-width: $screen-xs-max) {
        border-bottom: 3px solid $text-color;
    }
}

.contact-links {
    @media (max-width: $screen-xs-max) {
        border-top: 3px solid $text-color;
        margin-top: $standard-margin;
        padding-top: $standard-margin / 2;
    }
}

.nav-links {
    background-color: $heading-bg-color;
    color: $heading-color;
    font-family: $title-font;
    font-size: 15px;
    text-transform: uppercase;

    li {
        a {
            background-color: $heading-bg-color;
            color: $heading-color;
            border-radius: 0;
        }

        a:hover, a:focus {
            color: $heading-bg-color;
            background-color: $navbar-default-link-hover-bg;
        }
    }
}

.pager li > a {
    background-color: $btn-default-bg;
    border-color: $btn-default-border;
}

.pager li > a:hover {
    background-color: darken($btn-default-bg, 10%);
    border-color: darken($btn-default-border, 12%);
}

article {
    header {
        color: inherit;
        background-color: inherit;
    }

    ul.list-unstyled > li {
        background-color: $list-item-bg-color;

        ul {
            list-style-type: disc;
        }
    }
}

a {
    color: $link-color;
}

a:hover, a:focus {
    color: $link-color;
    text-decoration: none;
}

time {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.attribution {
    font-style: italic;
}

.btn, .fc-button {
    font-family: $title-font;
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}

#calendar {
    font-size: 15px;

    .fc-button {
        border-radius: 0;
        background-color: $btn-default-bg;
        background-image: none;
    }

    .fc-button:hover, .fc-button:focus {
        background-color: $heading-hover-bg-color;
    }

    .fc-state-disabled {
        cursor: not-allowed;
        background-color: $btn-default-bg !important;
    }
}

.btn:hover, .btn:focus {
    background-color: $heading-hover-bg-color;
}

.btn-circle {
    border-radius: 50%;
    background-color: $text-color;
    color: $body-bg-color;
    font-family: $body-font;
    border: 1px solid transparent;
}

.btn-circle:hover, .btn-circle:focus {
    color: $text-color;
}

.video {
    max-width: 650px;
    margin-top: $standard-margin;
    margin-bottom: $standard-margin;
}

.calendar-key-box.surj-key {
    background-color: $text-color;
}

.calendar-key-box.surj-action-key {
    background-color: $action-bg-color;
}

.calendar-key-box.other-key {
    background-color: $heading-hover-bg-color;
}

.fc-scroller[style] {
    height: auto !important;
}

.fc-event {
    background-color: $heading-hover-bg-color;
    border-color: $heading-hover-bg-color;
    color: $text-color;
}

.fc-event:hover, .fc-event:focus {
    background-color: darken($heading-hover-bg-color, 10%);
    border-color: darken($heading-hover-bg-color, 10%);
    color: $text-color;
    text-decoration: none;
}

.surj-event {
    background-color: $text-color;
    border-color: $text-color;
    color: $body-bg-color;
}

.surj-action-event {
    background-color: $action-bg-color;
    border-color: $action-bg-color;
    color: $body-bg-color;
}

.surj-event:hover, .surj-event:focus {
    background-color: $heading-hover-bg-color;
    border-color: $heading-hover-bg-color;
    color: $text-color;
}

.fc-state-hover {
    background-position: 0% 0%;
}

.fc-today {
    background-color: $list-item-bg-color !important;
}

.modal h2 {
    font-size: 17px;
}

.panel-group h2 {
    font-size: 17px;
}

.panel-default > a > .panel-heading {
    color: $btn-default-color;
    background-color: $panel-default-heading-bg;
    border-color: $panel-default-border;
}
