nav {
    margin-bottom: $standard-margin;

    h1 {
        display: inline;
        position: relative;
        top: 24px;
    }

    .btn-circle {
        width: 45px;
        height: 45px;
        font-size: 20px;
        line-height: 34px;
        margin-right: 5px;
    }
}

.contact-links {
    float: right;
    position: relative;
    top: 38px;
}

.navbar-toggle {
    margin-top: 0;
    margin-right: 0;
}

#navbar-dropdown {
    @media (min-width: $screen-sm-min) {
        display: block;
        min-height: 50px;
    }
}

.nav-title {
    padding-top: $standard-margin;
    padding-bottom: $standard-margin;
}

h1 {
    margin-top: $standard-margin;
}

time {
    display: block;
    margin-bottom: $standard-margin / 2;
}
