nav {
    margin-bottom: $standard-margin;

    h1 {
        display: inline;
        position: relative;
        top: 24px;
    }
}

.navbar-toggle {
    margin-top: 0;
    margin-right: 0;
}

#navbar-dropdown {
    @media (min-width: $screen-sm-min) {
        display: block;
        min-height: 50px;
    }
}

.nav-title {
    padding-top: $standard-margin;
    padding-bottom: $standard-margin;
}

h1 {
    margin-top: $standard-margin;
}

time {
    display: block;
    margin-bottom: $standard-margin / 2;
}
